<% title "Intents" %>

<table>
  <tr>
    <th>Name</th>
    <th>Associated Apps</th>
    <th>Parameter Names [and Content]</th>
  </tr>
  <% for intent in @intents %>
    <tr>
      <td><%= intent.name %></td>

      <td>
        <% if intent.apps.present? %>
        <ul>
          <% intent.apps.each do |app| %>
            <li><%= app.name %></li>
          <% end %>
        </ul>
        <% else %>
          No Associated Apps.
        <% end %>
      </td> 

      <td>
        <% if intent.parameters.present? %>
        <ul>
          <% intent.parameters.each do |parameter| %>
            <li><%= "#{parameter.name} [#{parameter.content}]" %> </li>
          <% end %>
        </ul>
        <% else %>
          No Parameters.
        <% end %>
      </td> 

      <td><%= link_to "Show", intent %></td>
      <td><%= link_to "Edit", edit_intent_path(intent) %></td>
      <td><%= link_to "Destroy", intent, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Intent", new_intent_path %></p>
