<% title "Intent" %>

<p>
  <strong>Name:</strong>
  <%= @intent.name %>
</p>

<p>
  <strong>Associated Apps:</strong>
  <% if @intent.apps.present? %>
  <ol>
  	<% @intent.apps.each do |app| %>
  		<li><%= app.name %></li>
  	<% end %>
  </ol>
  <% else %>
  	No Associated Apps.
  <% end %>
</p>

<p>
  <strong>Uses following Parameters:</strong>
  <% if @intent.parameters.present? %>
  <ol>
    <% @intent.parameters.each do |parameter| %>
      <li><%= parameter.name %></li>
    <% end %>
  </ol>
  <% else %>
    Does not use any parameters.
  <% end %>
</p>


<p>
  <%= link_to "Edit", edit_intent_path(@intent) %> |
  <%= link_to "Destroy", @intent, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", intents_path %>
</p>
