<%= form_for @app do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :url_prefix %><br />
    <%= f.text_field :url_prefix %>
  </p>
  <p><%= f.submit %></p>
<% end %>
